#### Loops
 
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a iterable

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [1]:
li = [1,2,3,4,5,6]
for i in li:
    print(i)

1
2
3
4
5
6

In [2]:
b = ["Yuhaspro","python"]
for i in b:
    print(i)

Yuhaspro
python

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
pto sfn

In [6]:
li = [1,2,3,4,5]
5 in li

True

In [7]:
# 15 to 25
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
#range(start_value, stop_value, step_size(optional)):

for i in range(0,13,4):
    print(i)

0
4
8
12

105

In [12]:
li = [1,12,30,14,555,1,12,30,14,555,555,1,12,30,14,555,1,12,30,14,555,1,12,30,14,555]
for i in li[0::12]:
    print(i)

1
30
555
12
14
1
30
555
12

In [20]:
for i  in range(9,37,3):
    print(i)

9
12
15
18
21
24
27
30
33
36

In [15]:
## for loop

for i in range(0,50,15):
    print(i)

0
15
30
45

In [16]:
for i in range(4,11,2):
    print(i)

4
6
8
10

In [8]:
for i in range(20,9,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

In [18]:
for i in range(0,10,4):
    print(i)

0
4
8

In [17]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
for i in range(10,0,-4):
    print(i)

10
6
2

In [9]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
for i in range(10,1,-1):
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [10]:
a  = 15649687346
for i in str(a):
    print(i)

a  = '15649687346'
for i in a:
    print(i)

a  = 15649687346
a = str(a)
for i in a:
    print(i)

TypeError: 'float' object is not iterable

In [5]:
x = str(x)

In [22]:
x='15543'
for i in x:
    print(i)

1
5
5
4
3

In [8]:
## strings

strr=56464

for i in str(strr):
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [16]:
x = '265164949816'

for i in x:
    if int(i)%2 == 0:
        print(i)
    #print(type(i))

2
6
6
4
4
8
6

In [ ]:
while boolean_statement:
    #logic
    #output
    # counter (responsible for controlling the while loop)

In [8]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
x = 11
x<= 10

False

In [21]:
x = 1
while x<=10:
    print(x)
    x= x+ 1

1
2
3
4
5
6
7
8
9
10

In [24]:
i = 10
while i>=1:
    print(i)
    i= i-1

10
9
8
7
6
5
4
3
2
1

In [12]:
i = 10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [14]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [26]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(100):
    if i>5:
        break
    print(i)

0
1
2
3
4
5

In [28]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(1,11):
    if i%2==0:
        print(f"-> {i}")
        continue
    print(i)

1
-> 2
3
-> 4
5
-> 6
7
-> 8
9
-> 10

In [30]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
        
    print(i)

0
1
2
3
4

In [18]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(3):
#        print(f"i:{i} and j:{j}")
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [42]:
for i in range(0,4):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [19]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

 
summ=0
count=1

while count<=10:   # 1 <= 10
    summ=summ+count
    count=count+1

print("Sum of first 10 natural number:",summ)

Sum of first 10 natural number: 55

In [32]:
n=10   
sum=0
for i in range(n+1):
    sum=sum+i

print(sum)

55

In [3]:

sum(i for i in range(11))

55

In [ ]:
## Example- Prime numbers between 1 and 100

for num in range(1,10):
    if num>1:
        for i in range(2,num):
            #print(f"{num}:{i}")
            if num%i==0:
                break
        else:
            print(num)

In [23]:
for i in range(2,20):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19

In [ ]:
for i in range(1,10):
    if i >1:
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            print(i)

In [13]:
for num in range(2,15):
    for i in range(2,num):
        if num%i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13

#### Conclusion:
Loops are powerful constructs in Python that allow you to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue, and pass, you can handle a wide range of programming tasks efficiently.

In [14]:
for i in range(0,10):
    for j in range(i):
        print(f"{i}:{j}")

1:0
2:0
2:1
3:0
3:1
3:2
4:0
4:1
4:2
4:3
5:0
5:1
5:2
5:3
5:4
6:0
6:1
6:2
6:3
6:4
6:5
7:0
7:1
7:2
7:3
7:4
7:5
7:6
8:0
8:1
8:2
8:3
8:4
8:5
8:6
8:7
9:0
9:1
9:2
9:3
9:4
9:5
9:6
9:7
9:8