### Syntax and Semantics in Python

- Single line Comments and multiline comments 
- Definition of Syntax and Semantics
- Basic Syntax Rules in Python
- Understanding Semantics in Python
- Common Syntax Errors and How to Avoid Them
- Practical Code Examples

In [4]:
a = 72
b = 25.469
c = 'Hello, World!'
d = False

In [7]:
print(a,b,c,d)

72 25.469 Hello, World! False

In [10]:
print(type(a),a)
print(type(b),b)
print(type(c),c)
print(type(d),d)

<class 'int'> 72
<class 'float'> 25.469
<class 'str'> Hello, World!
<class 'bool'> False

In [14]:
num1 = 45
num2 = 12
print(num1 * 2)

90

In [22]:
num1 = '45'
num2 = '12'
num1 = int(num1)
num2 = int(num2)
#type(num1)  int()  str()  bool()  float()
print(num1 + num2)

57

In [3]:
print('Hello this is python class')  
print(((50+50)/10)*5)

Hello this is python class
50.0

In [17]:
print('20'+ '20')

2020



Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [ ]:
variable

In [20]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive
Name = 'Rahul'
name = 5456.165613

#Dynamic typing
name = 'Rahul'
name = 5456.165613 

print(name) 
print(Name)

5456.165613
Rahul

### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

for i in range(0,10):
    print(i)

In [ ]:
## Boolean Logic
b = 35
b > 35

In [ ]:
age=30
age>30

In [ ]:
a = 'mohitsingh2@yahoo.com'
print(a.split(sep='@')[0])
print(a.split(sep='@')[1])

In [ ]:
import pandas as pd
df = pd.read_csv(r"G:\YHP\Python\Python-main\10-Data Analysis With Python\sales1_data.csv")
df['Sales'].sum()

In [ ]:
for i in range(2,30):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

In [ ]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=30
if age>=30:
  print('Yes')

else:
    print("No")

#print(age)  
    
#print(age)

## Python's Basic Tricks

In [23]:
## Below is example of multi-line comment

'''This 
is a
mutli line 
comment'''

## Below is example of single line comment

print("Hello World") #this will greet you

Hello World

In [25]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7 \
+4+5*6

print(total)

62

In [27]:
1+2+3+4+5+6+7+4+5*6

62

In [29]:
x=10
y=20
z=30
a=x+y+z
print(a)

60

In [ ]:
## Multiple Statements on a single line

x=10;y=20;z=30; a=x+y+z;print(a)

In [ ]:
a = "30.151648"
b = float(a)
b= int(b)
print(type(a))
print(type(b))
print(b)

## Basic DataType
- Integer    -> -46 ,1,77964649614961,10,1000,9999         -> int(  )
- String     ->   '    '  "    "                           -> str(  )
- Float      ->    -10.66, 125.15454,19135.4               -> float(  )
- Boolean    -> False True                                 -> bool(  )

## Advanced DataType
- List     ->   [ ]        -> list( )
- Tuple    ->   ( )        -> tuple( )
- Set      ->  { }         -> set( )
- Dictionary  -> { }       -> dict( )

In [31]:
a = 56
b = 12.465
c = 'python'
d = True
print(type(a),a)
print(type(b),b)
print(type(c),c)
print(type(d),d)

<class 'int'> 56
<class 'float'> 12.465
<class 'str'> python
<class 'bool'> True

In [48]:
num_simple = {15,15,65,6,5}
print(type(num_simple))

<class 'set'>

In [49]:
#steps
# we need 2 variables
# we need to do type casting
# we need to print arthimatic operation one by one

# This will take input from user
num1 = input('Enter any 1st no of your choice')
num2 = input('Enter any 2nd no of your choice')

# This will convert str to float
num1 = float(num1) ; num2 = float(num2)

# We are printing arithematic results
print('Addition is-' , num1+num2)
print('Substraction is-' , num1 - num2)
print('Multiplication is-' , num1 * num2)
print('Division is-' , num1 / num2)
print('Floor division is-' , num1 // num2)
print('Remainder is-' , num1 % num2)
print('Exponential is-' , num1 ** num2)

Enter any 1st no of your choice 50
Enter any 2nd no of your choice 5

Addition is- 55.0
Substraction is- 45.0
Multiplication is- 250.0
Division is- 10.0
Floor division is- 10.0
Remainder is- 0.0
Exponential is- 312500000.0

In [50]:
print(27/4)  #division
print(27//4) #floor division
print(27%4)  #modulus

6.75
6
3

In [ ]:
a = input("Enter 1st no")
b = input("Enter 2nd no")
#a = int(a)
#b = int(b)


print(a+b)

# a = float(55) ; b = str(54.888826) ; c = bool('Hello WOrld!') ; d = float(True) #True
print(type(d))
print(d)

In [ ]:
## Type Inference / Dynamic typing
variable=10
print(type(variable))
variable="Mohit"
print(type(variable))

In [ ]:
##Understand  Semnatics In Python
# variable assignment
age=321 ##age is an integer
name="Mohit" ##name is a string

In [ ]:


#print(age)
type(age)

In [ ]:
type(name)

In [ ]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if True:
        print("This won't print")
    print("This will print")
print("Outside the if block")

In [ ]:
age = 11
age>=10

In [ ]:
age=9
if age<=10:
    print("Your age is above 10 years")
else:
    print('THis is our output')

In [ ]:
## Name Error
a= 10 + 'hello'
v = 0
#a1 = a + b
b

In [ ]:
u = 11
x = u
type(x)

In [4]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if True:
        print("This won't print")
        if True:
            print("This will also print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This won't print
This will also print
This will print
Outside the if block

### Conclusion:
Understanding the syntax and semantics of Python is crucial for writing correct and meaningful programs. Syntax ensures the code is properly structured, while semantics ensures the code behaves as expected. Mastering these concepts will help in writing efficient and error-free Python code.

## Print Statements and their types

In [ ]:
## Normal print

print("This is a simple print statement")

In [ ]:
## Print Statement with a variable 

x = 50
y=10
z='Astha'
print('Total bill',x+y)

In [ ]:
python --version

In [ ]:
## Print statement using .format() <method from old python versions>

x = 105
y = 45
print("This is {} 1st no- & This is {} 2Nd no {} ".format(y,x,y))

In [ ]:
print('My   total bill is {}. And {} paid using {}  UPI'.format(x,y,z))

In [ ]:
name = "Alice"
age = 25
print("My name is {} and I'm {} years old".format(name, age))

In [ ]:
## Print statement using f-string <method from newer python versions>
## f"string{expression}"

x = input("WHat is your name")
y = 55
print("My  {} name  {} is".format(x,y))

In [ ]:
print(f"My total bill is {x}. And {y} paid using  {z} UPI")

In [ ]:
name = "Alice"
age = 25.15646413544
print(f"My name is {name:^15} and I'm {age:.2f} years old")

In [ ]:
x = "Rajesh"
print("hello{:^16}world".format(x))

In [ ]:
a = 'apple'
print(len(a))
x = 3.1516464664
print("The {:>10} number is {:.4f}".format(a,x))

In [ ]:
a = 'hello'
print("{:>10}".format(a))