
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors


### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [ ]:
a='100.01'
type(a)

str

In [ ]:
str(a)
int()
float()
bool()

NameError: name 'a' is not defined

In [ ]:
a = ' Python class'
print(a)

 Python class

In [ ]:
## Unpacking an Iterable
a = (1,2,3)
x,y,z = a
z

3

In [ ]:
## Declaring And Assigning Variables

age=32
height=6.15
name="Rahul"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.15
Name: Rahul

In [ ]:
## printing data types of variables
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
Name = 'mohit'
name = 'astha'
print(name)

astha

In [37]:
# Invalid variable names
1age =34
first-name="Rahul"
@name ="Rahul1"

SyntaxError: invalid syntax (2596780801.py, line 4)

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="RaHUl"
LastName="Rasal"              
firstName= 5
FirstName = 454.5552

In [9]:
## case sensitivity
name='rahul' 
Name="Rahul3"

print(name)
print(Name)

rahul
Rahul3

In [12]:
c = 53.46
int(c)

53

In [10]:
age=25
print(type(age))

# Type conversion
age_str=float(age)
print(age_str)
print(type(age_str))

<class 'int'>
25.0
<class 'float'>

In [34]:
age = 50
print(type(age))

age_str = str(age)
age_str = '60'
print(type(age_str))
age_str

<class 'int'>
<class 'str'>

'60'

In [13]:
num = 15
print(type(str(num)))

<class 'str'>

In [16]:
print(type(int(age_str)))

<class 'int'>

In [36]:
print(type(int(age_str)))

<class 'int'>

In [53]:
print(type(int(age_str)))

<class 'int'>

In [14]:
## We can convert interger to string
## But we cannot do the opposite (Convert string to integer)

name="Rahul"
int(name)

ValueError: invalid literal for int() with base 10: 'Rahul'

In [17]:
height=5.11
print(type(height))


height

<class 'float'>

5.11

In [12]:
a = 15.4654
print(type(a),a)
a1 = int(a)
print(a1)
a2 = float(a1)
print(a2)

<class 'float'> 15.4654
15
15.0

In [13]:
a = 5.55
print(type(a))

b = int(a)
print(type(b))

c = float(b)
print(type(c))
print(a,b,c)

<class 'float'>
<class 'int'>
<class 'float'>
5.55 5 5.0

In [65]:
a = int(height)
print(type(a))
print(a)

<class 'int'>
5

In [66]:
a = int(height)
float(a)

5.0

In [41]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
Hello <class 'str'>

In [42]:
var

'Hello'

In [48]:
type(var)

float

In [47]:
a = input('What is our name')
type(a)

What is our name [5,6,7]

str

In [34]:
a = input('Write your name')
type(a)

Write your namenf

str

In [36]:
a = float(input("Write your fav no"))
print(type(a))
print(a)

Write your fav no525
<class 'float'>
525.0

In [33]:
a = '525'
b = int(a)
b

525

In [1]:
a = float(input('Enter any floating point no'))
print(a)

namrjvjhvjhv,ghvhgh1.336546
1.336546

In [55]:
def filter_func(x):
    li = [i for i in range(1,20,3)]
    l = []
    for i in li:
        if i >= x :
            l.append(i)
    print(l)
filter_func(6)

[7, 10, 13, 16, 19]

In [51]:
li

[1, 4, 7, 10, 13, 16, 19]

In [83]:
## input

age=int(input("What is the age"))
print(age,type(age))

What is the ageHello

ValueError: invalid literal for int() with base 10: 'Hello'

In [37]:
### Simple calculator
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num1 = float(num1)
num2 = float(num2)


summ = num1 + num2 
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2


print("Sum:", summ)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 50
Enter second number: 50
Sum: 100.0
Difference: 0.0
Product: 2500.0
Quotient: 1.0

In [87]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

summ = num1 + num2 
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2


print(f"Sum: {summ}")
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 50
Enter second number: 52
Sum: 102.0
Difference: -2.0
Product: 2600.0
Quotient: 0.9615384615384616

In [18]:
first_no = float(input('Enter your 1st no'))
second_no = float(input('Enter your 2nd no'))

add = first_no+second_no 
sub = first_no-second_no
mul = first_no*second_no
div = first_no/second_no

print('Sum: ',add)
print('Sub',sub)
print('MUL', mul)
print('DIv',div)

Enter your 1st no40
Enter your 2nd no60
Sum:  100.0
Sub -20.0
MUL 2400.0
DIv 0.6666666666666666

In [70]:
### For practice of calculator app
input 


a =  float(input("enter number")) ; b =  float(input("enter number"))

summ=a+b;sub=a-b;mul = a*b;div=a/b

print(summ)
print(sub)
print(mul)
print(div)

enter number50
enter number50
100.0
0.0
2500.0
1.0

In [43]:
print("My Name is Jitesh")

My Name is Jitesh

## Test 
### <b>Problem Statement</b> 
- Create funtion 
- User should give input only once     #create function
- Only one print statement is allowed  #use  (f"string {variable}"

In [49]:
a =input("Enter your name")
print("Hello" ,a)

Enter your nameJitesh
Hello Jitesh

### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.

In [52]:
aa =input("enter your name")
print("How are you", aa)

enter your nameJitesh
How are you Jitesh

In [38]:
a = input('Frist number')
type(a)

Frist number50

str

In [40]:
a = float(input('First number'))
b = float(input('Second number'))
print(type(a))
add = a+b
sub = a-b
mul = a*b
div = a/b

print(add)
print(sub)
print(mul)
print(div)

First number15
Second number35
<class 'float'>
50.0
-20.0
525.0
0.42857142857142855

In [73]:
a = 10.1516541889498
b = 'Python'
print(f"This {a:.2f} is  a print {b:^16} statement")

This 10.15 is  a print      Python      statement

In [81]:
print("This {:.4f} is  a print {:.2f} statement".format(a,a))

This 10.1517 is  a print 10.15 statement