## Deep Dive into Operators


1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [ ]:
Arithmetic Operators

Addition     -> +
Subtraction  -> -
Multiplication -> *
Division       -> /
Floor Division  -> //
Modulus        -> %
Exponentiation  -> **

Comparison Operators

Equal to -> ==
Not equal to -> !=
Greater than -> >
Less than    -> <
Greater than or equal to  -> >=
Less than or equal to -> <=

Logical Operators

AND
OR
NOT

In [26]:
21 >= 21

True

In [13]:
9**2

81

In [28]:
x = 5
y = 5
x <= y

True

In [1]:
## Arithmethic Operation

a=10
b =10

add_result=a+b                   # addiiton
sub_result=a-b                   # substraction 
mult_result=a*b                  # multiplication
div_result=a/b                   # division
floor_div_result=a//b            # floor division
modulus_result=a%b               # modulus operation
exponent_result=a**b             ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

20
0
100
1.0
1
0
10000000000

In [1]:
# We are taking input below
num1 = input("Enter 1st no")
num2 = input("Enter 2nd no")
num1 = int(num1)
num2 = int(num2)

# THis is logic of my arthimatic operations
add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
f_d = num1 // num2
mod = num1 % num2
expo = num1 ** num2

# This is output of my arthematic operation
print("Your addition is", add)
print("Your subtraction is", su b)
print("Your multiplication is",mul)
print("Your division is",div)
print("Your quotient is",f_d)
print("Your remainder is",mod)
print("Your exponential is",expo)

Enter 1st no25
Enter 2nd no2
Your addition is 27
Your subtraction is 23
Your multiplication is 50
Your division is 12.5
Your quotient is 12
Your remainder is 1
Your exponential is 625

In [35]:
rand_var = input("enter a no")
print(type(rand_var))

enter a noTrue
<class 'str'>

In [37]:
a = True
type(a)

bool

#### Comparison Operators

In [4]:
## Comparison Operators
## == Equal to
a=11
b=10

a!=b

True

In [7]:
str1="Rahul"
str2="rahul"

str1 == str2

False

In [8]:
## Not Equal to !=
str1!=str2

True

In [12]:
str3="rahul"
str4="raHul"

print(str3==str4)
str3

False

'rahul'

In [13]:


num1=85
num2=50

num1!=num2

True

In [9]:
## Greater than >

print(num1<num2)

False

In [22]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [10]:
#less than or equal to
number1=41
number2=41

print(number1<=number2)

True

#### Logical Operators

In [14]:
## And ,Not,OR
X=True  
Y=False 

result =Y or X
print(result)

True

In [17]:
li = [1,2,3,4,'string',True]
'string' in li

True

In [31]:
X=False
Y=True

result =X and Y
print(result)

False

In [25]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [33]:
# Not operator
X=False
not X

True

In [13]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)
## Convert into function

Enter first number: 10
Enter second number: 20
Addition: 30.0
Subtraction: -10.0
Multiplication: 200.0
Division: 0.5
Floor Division: 0.0
Modulus: 10.0
Exponentiation: 1e+20

In [34]:
n1 = input("Enter 1st no")
n2 = input("Enter 2nd no")
n1 = float(n1)
n2 = float(n2)

add = n1 + n2
sub = n1 - n2
mul = n1 * n2
div = n1 / n2
floor_div = n1 // n2 
remainder = n1 %  n2
expo = n1 ** n2

print("Addition", add)
print("minus", sub)
print("multiply",mul)
print("division",div)
print("Floor division",floor_div)
print("Remiander",remainder )
print("Exponential" , expo)

Enter 1st no10
Enter 2nd no15
Addition 25.0
minus -5.0
multiply 150.0
division 0.6666666666666666
Floor division 0.0
Remiander 10.0
Exponential 1000000000000000.0

In [11]:
5**3

125

In [1]:
29/5

5.8

In [2]:
29//5

5

In [3]:
29%5

4

In [4]:
20/6

3.3333333333333335

In [5]:
20//6

3

In [6]:
20%6

2

In [2]:
y = 5

In [5]:
x = 10 
y = y+2   #x += 2
x += 50

In [8]:
print(x , y)

60 7

In [7]:
y+x

67

In [6]:
y

7

In [27]:
a = 2
a **= 5
print(a)

32

In [19]:
b = 20 
print(b - 5)
print(b)

15
20

In [15]:
a = 50

In [16]:
a

50

In [20]:
a >= 50

True

In [19]:
a <= 50

True

In [30]:
a == 50.00000000000001

False

In [35]:
a != 100

True

In [36]:
a

50

In [47]:
case2 = a < 45 
case1 = a != 51

In [48]:
case1 | case2

True

In [50]:
for i in range(1,11):
    print(i)

False

In [73]:
a = int(input("Enter your 1st number"))
b = int(input("Enter your 2nd number"))

print("Addition is -" , a+b)
print('Substraction is -' , a-b)
print('Multiplication is -',a*b)
print('Division is -',a/b)
print('Quotient is -',a//b)
print('Remainder is -',a%b)
print('Exponential is -',a**b)

Enter your 1st number 10
Enter your 2nd number 20

Addition is - 30
Substraction is - -10
Multiplication is - 200
Division is - 0.5
Quotient is - 0
Remainder is - 10
Exponential is - 100000000000000000000

In [68]:
a = input("Enter your 1st number")
b = input("Enter your 2nd number")
a = int(a)
b = int(b)
print(a+b)

Enter your 1st number 10
Enter your 2nd number 20

30

In [63]:
type((2,25,6,6,5))

tuple

In [55]:
b

'20'

In [66]:
'10' + '20'
#'@' + '@'

'1020'

In [67]:
10+20

30

In [ ]:
 input

Enter first number: 10
Enter second number: 20
    
 output   
Addition: 30.0
Subtraction: -10.0
Multiplication: 200.0
Division: 0.5
Floor Division: 0.0
Modulus: 10.0
Exponentiation: 1e+20